<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Product List output example</h1>
    <table border="1">
        <thead>
            <tr>
                <td>No.</td>
                <td>Product Name</td>
                <td>Product Detail</td>
                <td>Product Price</td>
                <td>Product Register</td>
            </tr>
        </thead>
        <tbody>
        <tr th:each="itemDto, status: ${itemDtoList}">
            <td th:if="${status.even}" th:text="EVEN"></td>
            <td th:unless="${status.even}" th:text="ODD"></td>
            <td th:text="${itemDto.itemNm}"></td>
            <td th:text="${itemDto.itemDetail}"></td>
            <td th:text="${itemDto.price}"></td>
            <td th:text="${itemDto.regTime}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <table border="1">
        <thead>
        <tr>
            <td>No.</td>
            <td>Product Name</td>
            <td>Product Detail</td>
            <td>Product Price</td>
            <td>Product Register</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="itemDto, status: ${itemDtoList}">
            <td th:switch="${status.even}">
                <span th:case="true">even</span>
                <span th:case="false">odd</span>
            </td>
            <td th:text="${itemDto.itemNm}"></td>
            <td th:text="${itemDto.itemDetail}"></td>
            <td th:text="${itemDto.price}"></td>
            <td th:text="${itemDto.regTime}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>